################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/CadastroCliente.API/.vs/CadastroCliente.API/v17
